* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common shard styles */
body {
  font-family: "Lato", sans-serif;
}
.text-primary {
  color: #e55473;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  border: 0px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.section-description {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}
.flower-pic-1 {
  width: 310;
  text-align: center;
}
/* header related styles */
header {
  background-color: #fff0f4;
}
.banner {
  padding: 140px 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.banner-pic {
  width: 800px;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 32px;
}
.banner-description {
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 32px;
  line-height: 30px;
}

/* main section start */
main section {
  margin-top: 170px;
}
/* Featured related style */
.featured-container {
  display: flex;
  justify-content: space-around;
}

.column-img-bg {
  padding: 5rem 5rem 0 5rem;
  background-color: #f2dee7;
  border-radius: 300px 300px 0px 0px;
  width: 430px;
  height: 530px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.column-img {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}
.row {
  display: flex;
  gap: 24px;
}
.column {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  margin: 0 10px;
}

/* shop info related style */
.shop-info-container {
  display: flex;
  /* gap: 100px; */
  background-color: #f4f4f4;
  /* padding: 80px 140px; */
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  height: 300px;
  align-items: center;
}
.info-description {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* sale info related style */
.sale-container {
  display: flex;
  background-color: #f2dee7;
}
.sale-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  width: 50%;
}
.sale-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.sale-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 28px;
  font-weight: 400;
  margin: 24px 0;
  text-align: center;
}

/* instagram start */
.Instagram-container {
  padding: 48px 240px 0 240px;
  gap: 24px;
}

.instagram-pic {
}

/* Get The Latest Deals start */
.latest-deals-container {
  background-image: url("../images/Rectangle 9.png");
  padding: 100px 0;
}

.btn-email {
  border-radius: 8px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 22px 500px 24px 24px;
  border: 0;
}

/* footer related styles */
.footer-container {
  background-color: #333333;
  padding: 120px 640px 120px 620px;
}

.footer-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.footer-info {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
