/* common shard styles */
body {
  font-family: "Lato", sans-serif;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
}

/* header related styles */
header {
  background-color: #e55473;
}
.banner-content {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
